* {
	box-sizing: border-box;
	margin: 0vw;
}
a:link {
 	text-decoration: none;
}
a:visited {
	color:#232323;
	text-decoration: none;
}
a:hover {
  	text-decoration: none;
}
div.navbg:hover {
  	background-color:rgb(70, 190, 190);
}
a:active {
 	 color: #232323;
	 text-decoration: none;
}
@font-face {
	font-family: 'racefont';
	src: url('C:/Users/acer/Desktop/racing/Sakana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.nav {
	width: 100%;
	top:0;
	z-index: 2;
	left:0;
	background-color: black;
	position: fixed;
}
.time {
	float:left;
	width:23%;
	height: 3.8vw;
	top:0;
	left:0;
	margin: 0.8vw 0.5vw;
	background: black;
	color: white;
	padding: 0.75vw 1vw;
	text-align: center;
	font-size: 2vw;
	transition-duration: 0.5s;
	border-radius: 5vw;

}
.aboutn a, .worksn a, .featsn a, .contactn a{
	float:left;
	width:8%;
	height: 3.8vw;
	top:0;
	left:0;
	margin: 0.8vw 0.5vw;
	background: black;
	color: white;
	padding: 0.75vw 1vw;
	text-align: center;
	font-size: 2vw;
	transition-duration: 0.5s;
	border-radius: 5vw;
}
.name {
	padding: 0vw 2.1vw;
	float: left;
	width:39%;
   	font-size: 4.7vw;
   	font-weight: bold;
      	background: linear-gradient(45deg, #ff6a00, #ff1493, #00bfff, #32cd32);
      	background-size: 500% 200%;
      	color: transparent;
	word-spacing: 1vw;
      	-webkit-background-clip: text;
      	background-clip: text;
      	animation: gradientAnimation 4s ease infinite;
}
@keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
.aboutn a:hover, .worksn a:hover, .featsn a:hover, .contactn a:hover{
	background: white;
	color: black;
}
.moon {
	float:left;
	width:100%;
	height: 50vw;
	margin:0vw;
	background: white;
	color: ;
	text-align: left;
	font-size: 1.8vw;
	transition-duration: 0.5s;
}
.bg {
	float:left;
	margin: 8vw 2vw;
	background-image: url('C:/Users/acer/Desktop/moonwishes/abtmerkuri.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 96%;
	height: 75%;
}
.about {
	font-size: 1.5vw;
	float:left;
	width:100%;
	height: 80vw;
	margin: 0vw;
	background: rgb(11, 12, 13);
	padding:0vw;
	text-align: left;
	transition-duration: 0.5s;
	background-image: linear-gradient(to bottom, rgba(0, 50, 70, 0.15), rgba(70, 190, 190, 0));
}
.about h2 {
	width: 100%;
	height: 9.6vw;
	text-align: center;
	background: white;
	font-size: 10.5vw;
}
.skill {
	margin-top: 7vw;
}
.skills {
	font-size: 4.4vw;
	width: 100%;
	font-weight: bold;
  	margin: 0 auto;
  	white-space: nowrap;
	word-spacing: 3vw;
  	overflow: hidden;
  	position: absolute;
}

.skills span {
  	display: inline-block;
  	padding-left: 100%;
  	animation: scroll 40s linear infinite;
  	animation-delay: -20s;
}

.skills2 span {
  	animation: scroll 40s linear infinite;
}

@keyframes scroll {
  	0% {
    		transform: translate(0, 0);
 	}
  	100% {
    		transform: translate(-110%, 0);
  	}
}
.about p {
	font-family:monospace!important;
	text-align: left;
	color:rgb(200, 200, 200);
	z-index:1;
	line-height: 1vw;
	transition-timing-function: ease-in;
	padding: 1vw 0vw 1vw 10vw;
	cursor: text;
}
.abtme p:hover {
	background-color:#434343;
}
.typing {
	font-size; 1vw;
	color:white;
	position: relative;
	animation-name: typing;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}
@keyframes typing {
	from {color: rgba(70, 190, 190, 0.1);}
	to {color:white;}
} 
.works {
	font-size: 1.5vw;
	float:left;
	width:100%;
	height: 150vw;
	margin: 0vw;
	background: rgb(11, 12, 13);
	background-image: linear-gradient(to top, rgba(0, 50, 70, 0.15), rgba(70, 190, 190, 0));
	color:white;
	padding:0vw;
	text-align: left;
	transition-duration: 0.5s;
}
.works h2 {
	width: 100%;
	text-align: right;
	font-size: 13vw;
	margin-top: -3vw;;
}
.racing{
	height: 22vw; width: 40vw;
	margin: 5vw 8vw;
	color: black;
	font-size: 5vw;
	text-align: center;
	padding: 2vw 1vw;
	color: white;
	font-family: 'racefont';
}
.racing img{
	border-radius: 3vw;
	width: 100%;
	border: 0.25vw solid white;
 	mask-image: linear-gradient(black, transparent);
}
.title {
	margin-top: -4vw;
}
.contact {
	float:left;
	width:100%;
	height: 35vw;
	margin:0vw;
	background: rgb(2, 3, 7);
	color:white;
	padding:0vw;
	text-align: left;
	font-size: 10vw;
	transition-duration: 0.5s;
}
.rightfoot {
	float: left;
	width: 45vw;
}
.rightfoot img{
	margin: -7vw -2vw; 
	width: 100%;
}

